:root{
    --dark-green: #61892f;
    --light-green: #86c232;
    --dark: #222629;
    --dark-gray: #474b4f;
    --gray: #6b6e70;
    --font-1: ;font-family: 'Work Sans', sans-serif;
    /* --font-2: ;font-family: 'Taviraj', serif; */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-1);
}

.section-head{
    font-weight: 700;
    font-size: 3em;
    margin: 0 auto 35px auto;
    padding-bottom: 20px;
    border-bottom: 3px solid;
    text-align: center;
    width: 30%;

}

/* Header */




header{
    padding: 15px 35px;
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;   
}

header h1{
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

.fa-code{
    color: var(--light-green);
}

header a{
    text-decoration: none;
    color: white;
}

header nav {
    margin: 7px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover{
    color: var(--light-green);
    text-decoration: underline;
    text-shadow: 1px 1px 2px --da;
    
}


/* Header End */

/* Hero Section */

.hero{
    min-height: 400px;
    background-image: url(../images/branko-stancevic-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    color: white;
}

.hero h2{
    font-weight: 700;
    font-size: 4em;
    margin-right: 40px;
}

.hero h2 span {
    color: var(--gray);
}
/* Hero Section End */

/* About Me Section */
#about-me{
    background: var(--light-green);
    padding: 30px 0 50px;
}

.bio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.bio img{
    height: 353px;
    width: 262px;
    border: 2px solid var(--gray);
}

.bio p {
    text-align: left;
    max-width: 50%;
    font-family: 'Taviraj', serif;
    font-size: 1.5em;
}
/* About Me Section End */

/* Work Section*/

/* Work Section End */

/* Footer Section */
#contact-me{
    background: var(--dark);
    color: white;
    padding: 30px 0 50px;
}

.contact-head{
    margin: 0 auto 35px auto;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--light-green);
    text-align: center;
    font-size: 2em;
    letter-spacing: 4px;
    width: 20%;
}
.contacts{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.contacts a{
    color: white;
    margin: 0 1em;
}

.contacts a:hover{
    color: var(--gray);
}

footer h3{
    text-align: center;
    padding-top: 40px;
    font-family: 'Taviraj', serif;
    font-size: 1em;
    letter-spacing: .2em;
}
/* Footer Section End */